__pycache__
*.pyc
.DS_Store
docs/_build
docs/.ipynb_checkpoints/
build/
dist/
backtracks.egg-info/
.coverage*
coverage.xml
htmlcov/
.tox/
bgstar_emcee.py
.vscode*
*beta_pic*
*SAO*
*sao*
*yses2*
*YSES2*
.pyproject.toml.sw
.pytest_cache/
tests/test_changes.py
tests/HD_131399A_*
tests/dynesty.save
tests/gaia_query_*