__pycache__
*.pyc
.DS_Store
docs/_build
docs/.ipynb_checkpoints/
build/
dist/
backtracks.egg-info/
.coverage*
coverage.xml
htmlcov/
.tox/
bgstar_emcee.py
*beta_pic*
*SAO*
.pyproject.toml.sw
.pytest_cache/
tests/HD_131399_A_*.png
tests/HD_131399_A_dynestyrun_results.pkl
tests/dynesty.save
tests/yses2*
tests/YSES_2*
tests/gaia_query_*