name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get install pandoc
          pip install --upgrade pip
          pip install --upgrade numpy cython
          pip install flake8 pytest pytest-cov sphinx
          cd $HOME
          ls
          pwd
          git clone https://github.com/sblunt/orbitize.git
          ls
          pwd
          export PYTHONPATH=$HOME/orbitize
          echo $PYTHONPATH

      - name: Install backtracks
        run: |
          cd $HOME/work/backtrack/backtrack
          ls
          pwd
          # pip install -r requirements.txt
          cat requirements.txt | xargs -n 8 pip install
          pip install --no-dependencies .

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run pytest
        run: |
          pytest
